<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="bean.Employee">
    <id column="actorno" jdbcType="VARCHAR" property="actorno" />
    <result column="actorname" jdbcType="VARCHAR" property="actorname" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="usermail" jdbcType="VARCHAR" property="usermail" />
    <result column="telnum" jdbcType="VARCHAR" property="telnum" />
    <result column="orgid" jdbcType="VARCHAR" property="orgid" />
    <result column="organname" jdbcType="VARCHAR" property="organname" />
    <result column="statename" jdbcType="VARCHAR" property="statename" />
    <result column="glzzwname" jdbcType="VARCHAR" property="glzzwname" />
    <result column="stafflevel" jdbcType="VARCHAR" property="stafflevel" />
    <result column="salarytype" jdbcType="INTEGER" property="salarytype" />
    <result column="staffsexname" jdbcType="VARCHAR" property="staffsexname" />
    <result column="zwxuliename" jdbcType="VARCHAR" property="zwxuliename" />
    <result column="zyxuliename" jdbcType="VARCHAR" property="zyxuliename" />
    <result column="gangwei" jdbcType="VARCHAR" property="gangwei" />
    <result column="stafflevelname" jdbcType="VARCHAR" property="stafflevelname" />
    <result column="xmglxlname" jdbcType="VARCHAR" property="xmglxlname" />
    <result column="productLinename" jdbcType="VARCHAR" property="productLinename" />
    <result column="rzdate" jdbcType="TIMESTAMP" property="rzdate" />
    <result column="staffgradename" jdbcType="VARCHAR" property="staffgradename" />
    <result column="salarytypename" jdbcType="VARCHAR" property="salarytypename" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="salarycompany" jdbcType="VARCHAR" property="salarycompany" />
    <result column="zyxulie" jdbcType="INTEGER" property="zyxulie" />
    <result column="presales_flagreal" jdbcType="VARCHAR" property="presalesFlagreal" />
    <result column="org1name" jdbcType="VARCHAR" property="org1Name" />
    <result column="idcardno" jdbcType="VARCHAR" property="idcardno" />
    <result column="workplace" jdbcType="INTEGER" property="workplace" />
  </resultMap>
  <sql id="Base_Column_List">
    actorno, actorname, loginname, usermail, telnum, orgid, organname, statename, glzzwname, 
    stafflevel, salarytype, staffsexname, zwxuliename, zyxuliename, gangwei, stafflevelname, 
    xmglxlname, productLinename, rzdate, staffgradename, salarytypename, state, salarycompany, 
    zyxulie, presales_flagreal, org1name, idcardno, workplace
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where actorno = #{actorno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from employee
    where actorno = #{actorno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bean.Employee">
    insert into employee (actorno, actorname, loginname, 
      usermail, telnum, orgid, 
      organname, statename, glzzwname, 
      stafflevel, salarytype, staffsexname, 
      zwxuliename, zyxuliename, gangwei, 
      stafflevelname, xmglxlname, productLinename, 
      rzdate, staffgradename, salarytypename, 
      state, salarycompany, zyxulie, 
      presales_flagreal, org1name, idcardno, 
      workplace)
    values (#{actorno,jdbcType=VARCHAR}, #{actorname,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, 
      #{usermail,jdbcType=VARCHAR}, #{telnum,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, 
      #{organname,jdbcType=VARCHAR}, #{statename,jdbcType=VARCHAR}, #{glzzwname,jdbcType=VARCHAR}, 
      #{stafflevel,jdbcType=VARCHAR}, #{salarytype,jdbcType=INTEGER}, #{staffsexname,jdbcType=VARCHAR}, 
      #{zwxuliename,jdbcType=VARCHAR}, #{zyxuliename,jdbcType=VARCHAR}, #{gangwei,jdbcType=VARCHAR}, 
      #{stafflevelname,jdbcType=VARCHAR}, #{xmglxlname,jdbcType=VARCHAR}, #{productLinename,jdbcType=VARCHAR}, 
      #{rzdate,jdbcType=TIMESTAMP}, #{staffgradename,jdbcType=VARCHAR}, #{salarytypename,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{salarycompany,jdbcType=VARCHAR}, #{zyxulie,jdbcType=INTEGER}, 
      #{presalesFlagreal,jdbcType=VARCHAR}, #{org1Name,jdbcType=VARCHAR}, #{idcardno,jdbcType=VARCHAR}, 
      #{workplace,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="bean.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actorno != null">
        actorno,
      </if>
      <if test="actorname != null">
        actorname,
      </if>
      <if test="loginname != null">
        loginname,
      </if>
      <if test="usermail != null">
        usermail,
      </if>
      <if test="telnum != null">
        telnum,
      </if>
      <if test="orgid != null">
        orgid,
      </if>
      <if test="organname != null">
        organname,
      </if>
      <if test="statename != null">
        statename,
      </if>
      <if test="glzzwname != null">
        glzzwname,
      </if>
      <if test="stafflevel != null">
        stafflevel,
      </if>
      <if test="salarytype != null">
        salarytype,
      </if>
      <if test="staffsexname != null">
        staffsexname,
      </if>
      <if test="zwxuliename != null">
        zwxuliename,
      </if>
      <if test="zyxuliename != null">
        zyxuliename,
      </if>
      <if test="gangwei != null">
        gangwei,
      </if>
      <if test="stafflevelname != null">
        stafflevelname,
      </if>
      <if test="xmglxlname != null">
        xmglxlname,
      </if>
      <if test="productLinename != null">
        productLinename,
      </if>
      <if test="rzdate != null">
        rzdate,
      </if>
      <if test="staffgradename != null">
        staffgradename,
      </if>
      <if test="salarytypename != null">
        salarytypename,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="salarycompany != null">
        salarycompany,
      </if>
      <if test="zyxulie != null">
        zyxulie,
      </if>
      <if test="presalesFlagreal != null">
        presales_flagreal,
      </if>
      <if test="org1name != null">
        org1name,
      </if>
      <if test="idcardno != null">
        idcardno,
      </if>
      <if test="workplace != null">
        workplace,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actorno != null">
        #{actorno,jdbcType=VARCHAR},
      </if>
      <if test="actorname != null">
        #{actorname,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="usermail != null">
        #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="telnum != null">
        #{telnum,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="organname != null">
        #{organname,jdbcType=VARCHAR},
      </if>
      <if test="statename != null">
        #{statename,jdbcType=VARCHAR},
      </if>
      <if test="glzzwname != null">
        #{glzzwname,jdbcType=VARCHAR},
      </if>
      <if test="stafflevel != null">
        #{stafflevel,jdbcType=VARCHAR},
      </if>
      <if test="salarytype != null">
        #{salarytype,jdbcType=INTEGER},
      </if>
      <if test="staffsexname != null">
        #{staffsexname,jdbcType=VARCHAR},
      </if>
      <if test="zwxuliename != null">
        #{zwxuliename,jdbcType=VARCHAR},
      </if>
      <if test="zyxuliename != null">
        #{zyxuliename,jdbcType=VARCHAR},
      </if>
      <if test="gangwei != null">
        #{gangwei,jdbcType=VARCHAR},
      </if>
      <if test="stafflevelname != null">
        #{stafflevelname,jdbcType=VARCHAR},
      </if>
      <if test="xmglxlname != null">
        #{xmglxlname,jdbcType=VARCHAR},
      </if>
      <if test="productLinename != null">
        #{productLinename,jdbcType=VARCHAR},
      </if>
      <if test="rzdate != null">
        #{rzdate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffgradename != null">
        #{staffgradename,jdbcType=VARCHAR},
      </if>
      <if test="salarytypename != null">
        #{salarytypename,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="salarycompany != null">
        #{salarycompany,jdbcType=VARCHAR},
      </if>
      <if test="zyxulie != null">
        #{zyxulie,jdbcType=INTEGER},
      </if>
      <if test="presalesFlagreal != null">
        #{presalesFlagreal,jdbcType=VARCHAR},
      </if>
      <if test="org1name != null">
        #{org1Name,jdbcType=VARCHAR},
      </if>
      <if test="idcardno != null">
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        #{workplace,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bean.Employee">
    update employee
    <set>
      <if test="actorname != null">
        actorname = #{actorname,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="usermail != null">
        usermail = #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="telnum != null">
        telnum = #{telnum,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="organname != null">
        organname = #{organname,jdbcType=VARCHAR},
      </if>
      <if test="statename != null">
        statename = #{statename,jdbcType=VARCHAR},
      </if>
      <if test="glzzwname != null">
        glzzwname = #{glzzwname,jdbcType=VARCHAR},
      </if>
      <if test="stafflevel != null">
        stafflevel = #{stafflevel,jdbcType=VARCHAR},
      </if>
      <if test="salarytype != null">
        salarytype = #{salarytype,jdbcType=INTEGER},
      </if>
      <if test="staffsexname != null">
        staffsexname = #{staffsexname,jdbcType=VARCHAR},
      </if>
      <if test="zwxuliename != null">
        zwxuliename = #{zwxuliename,jdbcType=VARCHAR},
      </if>
      <if test="zyxuliename != null">
        zyxuliename = #{zyxuliename,jdbcType=VARCHAR},
      </if>
      <if test="gangwei != null">
        gangwei = #{gangwei,jdbcType=VARCHAR},
      </if>
      <if test="stafflevelname != null">
        stafflevelname = #{stafflevelname,jdbcType=VARCHAR},
      </if>
      <if test="xmglxlname != null">
        xmglxlname = #{xmglxlname,jdbcType=VARCHAR},
      </if>
      <if test="productLinename != null">
        productLinename = #{productLinename,jdbcType=VARCHAR},
      </if>
      <if test="rzdate != null">
        rzdate = #{rzdate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffgradename != null">
        staffgradename = #{staffgradename,jdbcType=VARCHAR},
      </if>
      <if test="salarytypename != null">
        salarytypename = #{salarytypename,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="salarycompany != null">
        salarycompany = #{salarycompany,jdbcType=VARCHAR},
      </if>
      <if test="zyxulie != null">
        zyxulie = #{zyxulie,jdbcType=INTEGER},
      </if>
      <if test="presalesFlagreal != null">
        presales_flagreal = #{presalesFlagreal,jdbcType=VARCHAR},
      </if>
      <if test="org1name != null">
        org1name = #{org1Name,jdbcType=VARCHAR},
      </if>
      <if test="idcardno != null">
        idcardno = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        workplace = #{workplace,jdbcType=INTEGER},
      </if>
    </set>
    where actorno = #{actorno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bean.Employee">
    update employee
    set actorname = #{actorname,jdbcType=VARCHAR},
      loginname = #{loginname,jdbcType=VARCHAR},
      usermail = #{usermail,jdbcType=VARCHAR},
      telnum = #{telnum,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=VARCHAR},
      organname = #{organname,jdbcType=VARCHAR},
      statename = #{statename,jdbcType=VARCHAR},
      glzzwname = #{glzzwname,jdbcType=VARCHAR},
      stafflevel = #{stafflevel,jdbcType=VARCHAR},
      salarytype = #{salarytype,jdbcType=INTEGER},
      staffsexname = #{staffsexname,jdbcType=VARCHAR},
      zwxuliename = #{zwxuliename,jdbcType=VARCHAR},
      zyxuliename = #{zyxuliename,jdbcType=VARCHAR},
      gangwei = #{gangwei,jdbcType=VARCHAR},
      stafflevelname = #{stafflevelname,jdbcType=VARCHAR},
      xmglxlname = #{xmglxlname,jdbcType=VARCHAR},
      productLinename = #{productLinename,jdbcType=VARCHAR},
      rzdate = #{rzdate,jdbcType=TIMESTAMP},
      staffgradename = #{staffgradename,jdbcType=VARCHAR},
      salarytypename = #{salarytypename,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      salarycompany = #{salarycompany,jdbcType=VARCHAR},
      zyxulie = #{zyxulie,jdbcType=INTEGER},
      presales_flagreal = #{presalesFlagreal,jdbcType=VARCHAR},
      org1name = #{org1Name,jdbcType=VARCHAR},
      idcardno = #{idcardno,jdbcType=VARCHAR},
      workplace = #{workplace,jdbcType=INTEGER}
    where actorno = #{actorno,jdbcType=VARCHAR}
  </update>
</mapper>